# vmtk requirements
# From OQ wheels
#
https://wheelhouse.openquake.org/v3/windows/py312/fiona-1.9.5-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/GDAL-3.7.3-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/h5py-3.11.0-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/matplotlib-3.8.2-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/numba-0.60.0-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/numpy-1.26.4-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/pandas-2.2.3-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/pyproj-3.6.1-cp312-cp312-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py312/scipy-1.13.1-cp312-cp312-win_amd64.whl
#
#
https://wheelhouse.openquake.org/v3/py/openseespy-3.6.0.3-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/openseespywin-3.6.0.3-py3-none-any.whl
