# vmtk requirements
# From OQ wheels
#
https://wheelhouse.openquake.org/v3/windows/py310/statsmodels-0.14.4-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pandas-2.0.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/fiona-1.9.5-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/GDAL-3.7.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pyproj-3.6.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/scipy-1.11.4-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/numpy-1.26.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/matplotlib-3.8.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/h5py-3.10.0-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/numba-0.58.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/llvmlite-0.41.1-cp310-cp310-win_amd64.whl
#
#
openseespy==3.7.0.4
openseespywin==3.7.0.4
https://wheelhouse.openquake.org/v3/py/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pydantic-2.10.6-py3-none-any.whl
